`Import all the libraries for Data Analysis, Visualisation, Random Forest & Logisic Regression`

In [1]:
# Import all the libraries for Data Analysis, Visualisation, Random Forest & Logisic Regression

# Libraries for Dataset analysis
import pandas as pd
import numpy as np

# Ignore Warnings
import warnings
warnings.filterwarnings('ignore')

# For Data Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# To Split the data into traning & test data sets
from sklearn.model_selection import train_test_split

# For Standardisation & Scaling
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
# For building logistic regression model
import statsmodels.api as sm
from sklearn.cluster import KMeans
from kneed import KneeLocator
# Import RFE used in feature elimination
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE

# Check for VIF value of the variable
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Import  compute accuracy scores & Confusion matrix
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import precision_recall_curve

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

import xgboost as xgb
from xgboost import XGBClassifier
from xgboost import plot_importance
import gc 

from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
                        
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

#Importing the PCA module
from sklearn.decomposition import PCA

# import SMOTE module from imblearn library 
from imblearn.over_sampling import SMOTE

# For building logistic regression model
import statsmodels.api as sm

# Import RFE used in feature elimination
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE

<b>`Task 3 - User Experience Analytics`</b>

`The important columns here are the once that deals with the network parameters like - Round Trip Time (RTT) Throughput , and the customersâ€™ device characteristics like the handset type to conduct a deep user experience analysis`

<i>`import data for analysis`</i>

In [3]:
data = pd.read_csv('../data/Task1_clean_data.csv')

In [4]:
df = data.copy()

In [5]:
df

,bearer_id,start,start_ms,end,end_ms,dur._(ms),imsi,msisdn/number,imei,last_location_name,...,total_ul_(bytes),total_dl_(bytes),social_media,google,email,youtube,netflix,gaming,other,total_data
0,1.311448e+19,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,36749741.0,308879636.0,1.570185,2.905912,3.701304,18.355943,17.855187,292.426453,180.558843,345.629377
1,1.311448e+19,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,53800391.0,653384965.0,1.933278,4.414096,0.937385,39.359124,35.565545,609.920783,541.959383,707.185356
2,1.311448e+19,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,27883638.0,279807335.0,1.726277,10.229119,3.363124,34.425237,23.751202,229.980251,414.908351,307.690973
3,1.311448e+19,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,43324218.0,846028530.0,0.657493,11.811761,2.070983,36.534765,15.092588,810.387875,761.837216,889.352748
4,1.311448e+19,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,38542814.0,569138589.0,0.912788,7.748843,2.110349,34.222253,17.539799,531.237049,564.619822,607.681403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,2019-04-29 07:28:42,451.0,2019-04-30 06:02:33,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,57628851.0,574175259.0,3.517065,12.784914,0.690876,27.955095,37.561864,535.806880,16.751926,631.804110
149997,7.349883e+18,2019-04-29 07:28:42,483.0,2019-04-30 10:41:33,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,39135081.0,666648844.0,2.352181,4.415361,2.121718,22.165518,40.643294,631.628095,714.638145,705.783925
149998,1.311448e+19,2019-04-29 07:28:43,283.0,2019-04-30 10:46:12,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,34912224.0,592786405.0,1.260239,6.585469,2.058277,24.516413,15.029702,566.933800,132.415585,627.698629
149999,1.311448e+19,2019-04-29 07:28:43,696.0,2019-04-30 10:40:34,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,29626096.0,371895920.0,0.823109,7.757267,2.850914,17.122508,16.494842,355.066446,816.120043,401.522016
150000,7.349883e+18,2019-04-29 07:08:38,499.0,2019-04-25 00:01:32,500.0,86399.0,2.082015e+14,3.366371e+10,3.572201e+13,D41377B,...,41143312.0,455841077.5,1.828250,7.807295,2.259102,22.643483,22.628607,430.333101,429.365344,496.984390

In [6]:
df.describe()

,bearer_id,start_ms,end_ms,dur._(ms),imsi,msisdn/number,imei,avg_rtt_dl_(ms),avg_rtt_ul_(ms),avg_bearer_tp_dl_(kbps),...,total_ul_(bytes),total_dl_(bytes),social_media,google,email,youtube,netflix,gaming,other,total_data
count,1.500010e+05,150001.000000,150001.000000,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,150001.000000,150001.000000,150001.00000,...,1.500010e+05,1.500010e+05,150001.000000,150001.000000,150001.000000,150001.000000,150001.000000,150001.000000,150001.000000,150001.000000
mean,1.012045e+19,499.188199,498.800888,1.046084e+05,2.082016e+14,4.182441e+10,4.842592e+13,97.774455,15.315031,13299.95768,...,4.112121e+07,4.546434e+08,1.828250,7.807295,2.259102,22.643483,22.628607,430.333101,429.365344,495.764645
std,2.892438e+18,288.610872,288.096693,8.103736e+04,2.144723e+10,2.438731e+12,2.238739e+13,559.909444,76.687998,23971.82300,...,1.127635e+07,2.441421e+08,1.035646,3.516420,1.071109,9.246800,9.260820,244.019924,243.268073,244.380987
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.00000,...,2.866892e+06,7.114041e+06,0.001563,0.040330,0.008359,0.078903,0.098432,0.306358,0.149045,28.956107
25%,7.349883e+18,250.000000,251.000000,5.744200e+04,2.082014e+14,3.365151e+10,3.546261e+13,35.000000,3.000000,43.00000,...,3.322203e+07,2.431072e+08,0.932218,4.943599,1.359344,15.998463,15.979455,218.727939,218.553417,284.476442
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.00000,...,4.114331e+07,4.558411e+08,1.826471,7.812835,2.263567,22.661770,22.635545,431.614977,429.986492,496.861209
75%,1.304243e+19,749.000000,750.000000,1.324300e+05,2.082018e+14,3.368307e+10,8.611970e+13,62.000000,11.000000,19710.00000,...,4.903424e+07,6.657051e+08,2.727487,10.682796,3.159818,29.292604,29.290445,641.415878,639.927495,706.505411
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.00000,...,7.833131e+07,9.029696e+08,3.650861,15.528782,4.518036,45.190078,45.198153,859.202784,859.520934,955.984776

`Aggregate per customer`

    - Average TCP retransmission
    - Average RTT
    - Handset type
    - Average throughput

`total packet transmission for each customer`

In [7]:
user_experience = df[[
    "msisdn/number",
    "avg_rtt_dl_(ms)",
    "avg_rtt_ul_(ms)",
    "avg_bearer_tp_dl_(kbps)",
    "avg_bearer_tp_ul_(kbps)",
    "tcp_dl_retrans._vol_(bytes)",
    "tcp_ul_retrans._vol_(bytes)",
    "handset_type"]]

user_experience['avg_rtt_total'] = user_experience['avg_rtt_dl_(ms)'] + user_experience['avg_rtt_ul_(ms)']
user_experience['avg_bearer_tp_total'] = user_experience['avg_bearer_tp_dl_(kbps)'] + user_experience['avg_bearer_tp_ul_(kbps)']
user_experience['avg_tcp_retrans_total'] = user_experience['tcp_dl_retrans._vol_(bytes)'] + user_experience['tcp_ul_retrans._vol_(bytes)']

In [8]:
user_experience.head()

,msisdn/number,avg_rtt_dl_(ms),avg_rtt_ul_(ms),avg_bearer_tp_dl_(kbps),avg_bearer_tp_ul_(kbps),tcp_dl_retrans._vol_(bytes),tcp_ul_retrans._vol_(bytes),handset_type,avg_rtt_total,avg_bearer_tp_total,avg_tcp_retrans_total
0,3.366496e+10,42.0,5.0,23.0,44.0,568730.0,20949.5,Samsung Galaxy A5 Sm-A520F,47.0,67.0,589679.5
1,3.368185e+10,65.0,5.0,16.0,26.0,568730.0,20949.5,Samsung Galaxy J5 (Sm-J530),70.0,42.0,589679.5
2,3.376063e+10,45.0,5.0,6.0,9.0,568730.0,20949.5,Samsung Galaxy A8 (2018),50.0,15.0,589679.5
3,3.375034e+10,45.0,5.0,44.0,44.0,568730.0,20949.5,undefined,50.0,88.0,589679.5
4,3.369980e+10,45.0,5.0,6.0,9.0,568730.0,20949.5,Samsung Sm-G390F,50.0,15.0,589679.5

In [9]:
user_experience_agg = user_experience.groupby('msisdn/number').agg({
    'avg_rtt_total': 'sum',
    'avg_bearer_tp_total': 'sum',
    'avg_tcp_retrans_total': 'sum',
    'handset_type': [lambda x: x.mode()[0]]})

user_experience_df = pd.DataFrame()

user_experience_df["avg_rtt_total"] = user_experience_agg["avg_rtt_total"]['sum']
user_experience_df["avg_tp_total"] = user_experience_agg["avg_bearer_tp_total"]['sum']
user_experience_df["total_avg_tcp_total"] = user_experience_agg["avg_tcp_retrans_total"]['sum']
user_experience_df["handset_type"] = user_experience_agg["handset_type"]['<lambda>']
user_experience_df.head()

,avg_rtt_total,avg_tp_total,total_avg_tcp_total,handset_type
msisdn/number,,,,
3.360100e+10,46.0,76.0,589679.5,Huawei P20 Lite Huawei Nova 3E
3.360100e+10,31.0,99.0,589679.5,Apple iPhone 7 (A1778)
3.360100e+10,50.0,97.0,589679.5,undefined
3.360101e+10,84.0,248.0,22015.5,Apple iPhone 5S (A1457)
3.360101e+10,119.0,56844.0,9960511.5,Apple iPhone Se (A1723)

`Aggregate per customer`
   - Average TCP retransmission

In [10]:
top_10_tcp = user_experience.nlargest(10, 'avg_bearer_tp_total')['avg_bearer_tp_total']
bottom_10_tcp = user_experience.nsmallest(10, 'avg_bearer_tp_total')['avg_bearer_tp_total']
most_frequent_tcp = user_experience.value_counts('avg_bearer_tp_total').nlargest(10)

<b>`Top 10 TCP`</b>

In [11]:
top_10_tcp

120876    382262.0
143670    313244.0
141250    304299.0
91298     300546.0
116794    283931.0
141449    281144.0
149616    277152.0
92177     276205.0
116550    274052.0
117776    269888.0
Name: avg_bearer_tp_total, dtype: float64

<b>`bottom TCP`</b>

In [13]:
bottom_10_tcp

148     0.0
614     0.0
2460    0.0
3893    0.0
4129    0.0
4822    0.0
5796    0.0
5961    0.0
6135    0.0
7186    0.0
Name: avg_bearer_tp_total, dtype: float64

<b>`Most Frequent TCP`</b>

In [14]:
most_frequent_tcp

avg_bearer_tp_total
63.0    3886
15.0    3741
97.0    1945
90.0    1885
98.0    1801
96.0    1671
99.0    1571
89.0    1557
91.0    1520
93.0    1491
dtype: int64

<b>`RTT VALUES`</b>

In [16]:
top_10_rtt = user_experience.nlargest(10, 'avg_rtt_total')['avg_rtt_total']
bottom_10_rtt = user_experience.nsmallest(10, 'avg_rtt_total')['avg_rtt_total']
most_frequent_rtt = user_experience.value_counts('avg_rtt_total').nlargest(10)

<b>`Top 10 RTT`</b>

In [17]:
top_10_rtt

30155     96924.0
29916     64641.0
17894     55812.0
5963      54848.0
22839     27278.0
23442     26300.0
1361      25922.0
81256     25715.0
97312     25388.0
100575    24738.0
Name: avg_rtt_total, dtype: float64

<b>`Bottom 10 RTT`</b>

In [19]:
bottom_10_rtt

42602     0.0
103321    0.0
124538    0.0
143878    0.0
71738     2.0
50966     4.0
144923    4.0
103544    5.0
8756      6.0
123210    6.0
Name: avg_rtt_total, dtype: float64

<b>`Most Frequent RTT`</b>

In [21]:
most_frequent_rtt

avg_rtt_total
50.0    29432
29.0     4993
39.0     4222
38.0     2761
40.0     2647
30.0     2592
28.0     2424
49.0     2221
41.0     1978
31.0     1960
dtype: int64

<b>`Throughput values`</b>

In [23]:
top_10_retrans = user_experience.nlargest(10, 'avg_tcp_retrans_total')['avg_rtt_total']
bottom_10_retrans = user_experience.nsmallest(10, 'avg_tcp_retrans_total')['avg_rtt_total']
most_frequent_retrans = user_experience.value_counts('avg_tcp_retrans_total').nlargest(10)

<b>`Top 10 retrans`</b>

In [25]:
top_10_retrans

34636     110.0
140797    486.0
77950     116.0
135677    133.0
3741       81.0
119667    492.0
39608     453.0
59011     113.0
76971     119.0
41182      88.0
Name: avg_rtt_total, dtype: float64

<b>`Bottom 10 retrans`</b>

In [26]:
bottom_10_retrans

143594    361.0
111100     48.0
18417      53.0
13142      56.0
97061      81.0
8794       64.0
99947      41.0
83214      59.0
95955      40.0
12849      32.0
Name: avg_rtt_total, dtype: float64

<b>`Most frequent retrans`</b>

In [27]:
most_frequent_retrans

avg_tcp_retrans_total
589679.5    85265
570024.0      650
22279.5       249
570060.0      248
20987.5       136
21041.5       132
570048.0      132
23609.5       121
22267.5       106
571390.0       99
dtype: int64